@font-face {
  font-family: 'svadba-reg';
  src: url('./assets/Actinia-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'svadba-italic';
  src: url('./assets/Actinia-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'svadba-bold';
  src: url('./assets/Actinia-Bold.otf') format('opentype');
}

.main-div{
    font-family: 'svadba-bold', sans-serif;
    text-align: center;
}

html{
  background-color: rgb(255, 250, 243);
  display: grid;
}

